.main-data {
  width: 90vw;
  margin: auto;
  height: 75vh;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(70, 68, 68, 0.276);
}

@media screen and (max-width: 1006px) {
  .main-data {
    width: 90%;
    left: 13%;
    min-height: 100vh;
  }
}